:root{
  --white:#fff;
  --text: #4D4D4D;
  --out-text: #797979;
  --dark-gray: #202020;
  --background: #f1f2f3;
  --blue: #3AB2F9;
  --dark-blue: #3176FF;
  --blue-holder: #C8E4F5;
  --green: #4FFC49;
  --red: #ff3939;
}

* {
  padding: 0;
  margin: 0;
}

body, input, select, textarea, button{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
}