.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;

    gap: 7rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    gap: 4rem;
    
    flex: 1;
}

.menuButton {

    height: 400px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--blue);

    border-radius: 7px;

    transition: background-color 0.4s;

    gap: 1rem;
}

.menuButton span {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--white)
}

.menuButton:hover {
    cursor: pointer;

    background-color: var(--dark-blue);
}

.icons {
    color: var(--white);
    font-size: 7rem;
}